<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>JSP Page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        
        <div class="container">
            <h2>DANH SACH NGUOI DANG KY</h2>
           <p><a class="btn btn-primary" href="/">ADD USER</a></p>
            <p><label th:text= "'Hello: ' +${session.USERNAME}"></label><a href="/logout">  Logout</a><p>
              <a class= "btn btn-danger btn-sm" th:href= "@{'/viewnote'}">View Note</a>
             <a class= "btn btn-danger btn-sm" th:href= "@{'/addnote'}">Add Note</a></p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>UserName</th>
                        
                        <th>FullName</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                   <tr th:each= "item: ${USERS}">
                   <td th:text= "${item.username}"></td>
                   
                   <td th:text= "${item.fullname}"></td>
                   <td th:text= "${item.age}"></td>
                   <td> <span th:text="${item.gender}? 'Nam' : 'Nu' " > </span></td>
                   <td> <a class= "btn btn-primary btn-sm" th:href= "@{'/edit/'+ ${item.username}}">Edit</a></td>
                   <td> <a class= "btn btn-danger btn-sm" th:href= "@{'/delete/'+ ${item.username}}">Delete</a></td>
                  
                </tbody>
            </table>
        </div>
    </body>
</html>